{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container">
        <h1 class="center-text">Connexion</h1>

        {% if error %}
            <div class="error-message">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    <div>
        <form action="{{ path('app_login') }}" method="post" class="center-form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="_username" value="{{ last_username }}" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" required>
            </div>

            <button type="submit">Connexion</button>
        </form>
    </div>

        <div class="button-container">
            <a href="{{ path('app_register') }}">Pas de compte ? S'inscrire</a>
        </div>

        <div class="button-container">
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
        </div>
    </div>
{% endblock %}
