<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('main') }}
    {{ encore_entry_link_tags('common') }}
    {{ encore_entry_link_tags('footer') }}
    {{ encore_entry_link_tags('header') }}
    {{ encore_entry_link_tags('calendar') }}
    {{ encore_entry_link_tags('llan') }}
    {{ encore_entry_link_tags('twitch') }}
    {{ encore_entry_link_tags('buttons') }}
</head>
<body>
<div class="site-wrapper">
    <header class="site-header">
        <nav class="navbar">
            <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
            <div class="navbar-menu">
                <ul class="navbar-links">
                    <li><a href="{{ path('calendar') }}">Calendrier</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Jeux</a>
                        <div class="dropdown-content">
                            <a href="{{ path('amongus') }}">Among Us</a>
                            <a href="{{ path('lol') }}">League of Legends</a>
                            <a href="{{ path('tft') }}">TFT</a>
                            <a href="{{ path('rocketleague') }}">Rocket League</a>
                        </div>
                    </li>
                    <li><a href="{{ path('twitch') }}">Qui est en live</a></li>
                </ul>
                <ul class="navbar-actions">
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EVENTS') %}
                            <li><a href="{{ path('panel') }}">Panel</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_FAMILY') %}
                            <li><a href="{{ path('family') }}">Famille</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_profile') }}">{{ app.user.username }}</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
</div>
<main class="site-main">
    {% block body %}{% endblock %}
</main>
<footer class="site-footer">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} Jolan LANQUETIN. Tous droits réservés. | <a href="{{ path('about') }}">A propos de moi</a></p>
    </div>
</footer>
</body>
</html>
